.jimmyeatworld_integrityblues
    background-image: url(../assets/albums/jimmyeatworld_integrityblues.jpg)
.cherryglazerr_apocalipstick
    background-image: url(../assets/albums/cherryglazerr_apocalipstick.jpg)
.tnaf_simpleforms
    background-image: url(../assets/albums/tnaf_simpleforms.jpeg)
.ziggymarley_st
    background-image: url(../assets/albums/ziggymarley_st.jpg)
.m83_junk
    background-image: url(../assets/albums/m83_junk.jpg)
.bleached_welcometheworms
    background-image: url(../assets/albums/bleached_welcometheworms.jpg)
.wildbelle_dreamland
    background-image: url(../assets/albums/wildbelle_dreamland.jpg)
.sviib_sviib
    background-image: url(../assets/albums/sviib_sviib.jpg)
.yacht_ittgwbc
    background-image: url(../assets/albums/yacht_ittgwbc.jpg)
.waters_whatsreal
    background-image: url(../assets/albums/waters_whatsreal.jpg)
.youngthegiant_mindovermatter
    background-image: url(../assets/albums/youngthegiant_mindovermatter.jpg)
.thecoloursist_st
    background-image: url(../assets/albums/thecoloursist_st.jpg)
.teganandsara_heartthrob
    background-image: url(../assets/albums/teganandsara_heartthrob.jpg)
.paramore_st
    background-image: url(../assets/albums/paramore_st.jpg)
.neontrees_pictureshow
    background-image: url(../assets/albums/neontrees_pictureshow.jpg)
.neontrees_habits
    background-image: url(../assets/albums/neontrees_habits.jpg)

.no-cover
    background-color: grey