@import "./normalize.styl"
@import "./skeleton.styl"

body
	background: #e5e5e5

ul
	list-style: none


.nav-container
	position: fixed
	z-index: 50
	left: -10px
	ul
		height: 100vh
		display: flex
		flex-direction: column
	ul li
		color: white
		margin: auto
		letter-spacing: 2px
		transform: rotate(-90deg)
		-webkit-transform: rotate(-90deg)
		-moz-transform: rotate(-90deg)
		-ms-transform: rotate(-90deg)


.splash-container
	width: 100%
	background: #e5e5e5  
	color: white
	text-transform: uppercase
	text-align: center
	position: relative

.splash-header-box
	left: 50%
	top: 50%
	transform: translate(-50%, -50%)
	position: absolute
	vertical-align: super
	width: 400px
	padding: 25px
	border: 15px solid rgba(255, 255, 255, 1)
	h1
		font-size: 90px
		position: relative
		top: 10px
		line-height: 0.6
		font-weight: bolder

.splash-fullname
	width: 100%
	min-width: 1000px
	height: 55px
	left: 50%
	top: -20px
	position: fixed
	text-transform: uppercase
	font-size: 40px
	letter-spacing: 25px
	transform: translate(-50%, -60%)
	transition: top 1s 
	z-index: 10
	background: #e5e5e5

.splash-fullname-show
	top: 20px
.splash-fullname-hide
	top: -20px



.about-container
	height: 350px
	min-width: 700px
	left: 50%
	top: 50%
	transform: translate(-50%, -50%)
	position: absolute
	.about-text
		float: left
		width: 60%
		height: 350px
	.about-img
		float: right
		background-image: url('../assets/him.jpg')
		height: 100%
		width: 200px

.card
	width: 450px
	height: 180px
	text-align: left
	background: white
	margin: 25px 10px
	border-radius: 5px
	box-shadow: 0px 20px 30px 3px rgba(0, 0, 0, 0.55)
	transition: 0.3s
	overflow: hidden

.card:hover 
	box-shadow: 0px  20px 30px 3px rgba(0, 0, 0, 0.55)


.card-0
	left: 0px

.card-1
	left: 400px

.card-2
	left: 800px

.card-album-cover
	float: left
	position: relative
	background: black
	width: 180px
	height: 180px

.card-album-credits 
	float: left
	position: relative
	span
		display: block