@import "./normalize.styl"
@import "./skeleton.styl"

body
	background: #9e9e9e

ul
	list-style: none


.nav-container
	position: fixed
	z-index: 50
	ul
		display: flex
		flex-direction: column
	ul li
		color: white
		margin: auto
		letter-spacing: 2px
		transform: rotate(-90deg)
		-webkit-transform: rotate(-90deg)
		-moz-transform: rotate(-90deg)
		-ms-transform: rotate(-90deg)


.splash-container
	width: 100%
	background: #9e9e9e  
	color: white
	text-transform: uppercase
	text-align: center
	position: relative
	div
		left: 50%
		top: 50%
		transform: translate(-50%, -50%)
		position: absolute
		vertical-align: super
		width: 400px
		padding: 25px
		border: 15px solid white
		h1
			font-size: 90px
			position: relative
			top: 10px
			line-height: 0.6
			font-weight: bolder

.about-container
	height: 350px
	min-width: 700px
	left: 50%
	top: 50%
	transform: translate(-50%, -50%)
	position: absolute
	.about-text
		float: left
		width: 60%
		height: 350px
	.about-img
		float: right
		background-image: url('../assets/him.jpg')
		height: 100%
		width: 200px

.card
	position: absolute
	width: 200px
	height: 325px
	text-align: right
	padding: 20px
	border: 2px solid black
	background: white
	margin: 25px 10px
	span
		display: block
	div
		background: black
		float: right
		width: 200px
		height: 200px

.card-0
	left: 0px

.card-1
	left: 400px

.card-2
	left: 800px