@import "./normalize.styl"
@import "./skeleton.styl"

body
	background: #9e9e9e

ul
	list-style: none


.nav-container
	position: fixed
	z-index: 50
	ul
		display: flex
		flex-direction: column
	ul li
		color: white
		margin: auto
		letter-spacing: 2px
		transform: rotate(-90deg)
		-webkit-transform: rotate(-90deg)
		-moz-transform: rotate(-90deg)
		-ms-transform: rotate(-90deg)


.splash-container
	width: 100%
	background: #9e9e9e  
	color: white
	text-transform: uppercase
	text-align: center
	position: relative
	div
		left: 50%
		top: 50%
		transform: translate(-50%, -50%)
		position: absolute
		vertical-align: super
		width: 400px
		padding: 25px
		border: 15px solid rgba(255, 255, 255, 1)
		h1
			font-size: 90px
			position: relative
			top: 10px
			line-height: 0.6
			font-weight: bolder

.about-container
	height: 350px
	min-width: 700px
	left: 50%
	top: 50%
	transform: translate(-50%, -50%)
	position: absolute
	.about-text
		float: left
		width: 60%
		height: 350px
	.about-img
		float: right
		background-image: url('../assets/him.jpg')
		height: 100%
		width: 200px

.card
	width: 450px
	height: 150px
	text-align: left
	padding: 20px
	background: white
	margin: 25px 10px
	border-radius: 5px
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)
	transition: 0.3s

.card:hover 
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2)


.card-0
	left: 0px

.card-1
	left: 400px

.card-2
	left: 800px

.card-album-cover
	float: left
	position: relative
	background: black
	width: 150px
	height: 150px
	margin: 0px 10px

.card-album-credits 
	float: left
	position: relative
	span
		display: block