body
	background: #191919
	color: #191919  
	font-family: 'Open Sans', sans-serif
	font-family: 'Quicksand',"Helvetica Neue",Helvetica,Arial, sans-serif;

ul
	list-style: none

// h1
// 	font-size: 130px
// h2
// 	font-size: 100px	
// h3
// 	font-size: 90px
// h4
// 	font-size: 40px
// h5
// 	font-size: 30px

p
	font-family: 'Helvetica Neue', sans-serif;
	// font-family: 'Didact Gothic', sans-serif;
	// font-family: 'Roboto', sans-serif;

.overlay	
	position: fixed
	left: 0
	width: 100%
	height: 100%
	background: #191919
	z-index: 10
	// transition: translateY(0)
	transition: transform 1s

.container
	height: 100%	

.nav-container
	position: relative
	text-align: center
	ul
		display: inline-flex
		flex-direction: row
	ul li
		letter-spacing: 2px
		margin: 5px 8px

.underline-animation
	color: #191919
	position: relative
	color: #000
	text-decoration: none
.underline-animation:hover 
	color: #5e5e5e

.underline-animation:before
	content: ""
	position: absolute
	width: 100%
	height: 1px
	bottom: -3px
	left: 0px
	background-color: #191919
	visibility: hidden
	-webkit-transform: scaleX(0)
	transform: scaleX(0)
	-webkit-transition: all 0.3s ease-in-out 0s
	transition: all 0.3s ease-in-out 0s


.underline-animation:hover:before 
	visibility: visible
	-webkit-transform: scaleX(1)
	transform: scaleX(1)


.splash-container
	// background: #5e5e5e  
	// text-transform: uppercase
	text-align: center
	position: relative
	height: 100%
	margin-bottom: 10%
	// background: url(../assets/carlos_de_la_garza.jpg)
	// background-size: cover


.splash-header-box
	position: relative
	height: 100%
	// padding: 0 25px
	text-align: center
	transition: transform 1.5s
	// border: 15px solid rgba(255, 255, 255, 1)
	h1
		position: relative
		padding: 16px 0
		top: 10px
		letter-spacing: 20px
		font-weight: 400
		transition: transform 1s ease-out
		// text-shadow: 2px 1px 1px #3AAFB9
		// text-shadow: 1px 1px 1px #1d1e1d
		// text-transform: capitalize
	h4
		left: 25%
		position: relative
		margin: 0
		text-align: right

.splash-header-top
	transform: translateY(0)
.splash-header-center
	transform: translateY(350%)

.splash-photo
	background: url(../assets/carlos_de_la_garza.jpg)
	margin: 0 auto
	background-size: contain
	background-position: center top
	background-repeat: no-repeat
	// width: 100%
	height: 0
	padding-top: 66.72%
	transition: transform 1.5s
    border-radius: 10px    

.splash-photo-op
	transition: opacity 1s

.splash-photo-y1
	transform: translateY(0)
.splash-photo-y0
	transform: translateY(100%)
.op1
	opacity: 1
.op0
	opacity: 0

.nav
	transition: opacity 2s	
.splash-nav1
	opacity: 1
.splash-nav0
	opacity: 0

.splash-fullname
	width: 100%
	min-width: 1000px
	height: 55px
	left: 53%
	top: -20px
	position: fixed
	text-transform: uppercase
	font-size: 40px
	letter-spacing: 25px
	transform: translate(-50%, -60%)
	transition: top 1s 
	z-index: 10
	background: transparent

.splash-fullname-show
	top: 30px
.splash-fullname-hide
	top: -20px


.name-animation 
	transform: translate(-50%, -50%)
	position: fixed
	letter-spacing: 21px
	font-size: 50px
	font-weight: 400
	left: 50%
	top: 50%
	width: 830px
	z-index: 10
	color: white
	overflow: hidden
	opacity: 1
	transition: opacity 1.0s
// .names 
// 	transform: translate(-50%, -50%)
// 	position: absolute
// 	letter-spacing: 25px
// 	font-size: 50px
// 	font-weight: 400
// 	left: 50%
// 	top: 70%
// 	width: 960px
// 	z-index: 10
// 	color: white

.name-animation
	line-height: 1
.name-animation span
	transition: transform 0.5s
	display: inline-block
.opacity-animation
	transition: opacity 0.5s ease-in !important

.pos-up
	transform: translateY(-80px)

.pos-0
	transform: translateY(0px)
.pos-exit
	transform: translateY(-50px)

.spacing 
	width: 30px

.about-container
	width: 80%
	padding: 50px 0
	margin-bottom: 25% 
	// height: 350px
	// max-width: 900px
	// width: 100%
	// left: 50%
	// top: 25%
	// transform: translate(-50%, -50%)
	// position: absolute
	.about-text
		text-align: center
		// float: left
		// width: 100%
		// height: 350px
		div
			text-align: left
		h1
			text-align: center
			font-weight: 200
			position: relative
			overflow: hidden
		p
			position: relative
			font-weight: 200
			font-size: 18px
			color: grey
			letter-spacing: 1.5px
			transition: transform 0.6s cubic-bezier(.77,0,.175,1)
			transition: -webkit-transform 0.4s cubic-bezier(.77,0,.175,1)

			span
				display: inline-block
		p.bold
			color: #191919
			letter-spacing: 1.0px
			font-weight: 400
			font-size: 20px
		

.credit-showcase-container
	text-align: center
	margin-bottom: 25%

.credit-by-year
	display: flex
	display: -webkit-inline-flex
	display: -ms-inline-flex
	flex-direction: row
	justify-content: flex-start
	position: relative
	flex-wrap: wrap
	max-width: 1000px
	width: 100%

.credit-by-year:after 
	content: ""
	flex: 0 1 auto
	width: 319px

.card
	text-align: center
	background: white
	margin: 25px 10px
	border-radius: 5px
	box-shadow: 0px 20px 30px 3px rgba(0, 0, 0, 0.55)
	transition: 0.3s
	overflow: hidden

.card:hover 
	box-shadow: 0px  20px 30px 3px rgba(0, 0, 0, 0.55)

.card-container
	display: inline-flex
	align-items: center
	justify-content: space-between
	position: relative

// .card-0
// 	left: 0px

// .card-1
// 	left: 400px

// .card-2
// 	left: 800px

.card-album-cover
	margin: 26px 13px
	position: relative
	// background-image: url(../assets/albums/m83_junk.jpg)
	background-size: contain
	background-position: center
	background-repeat: no-repeat
	z-index: 1
	transition: background-image 0.2s
	width: 293px
	height: 293px

.zoom-in 
	background-size: 105%

.card-album-cover-hover
	opacity: 0
	margin: 26px 13px
	left: 0
	top: 0
	z-index: 2
	position: absolute
	background: rgba(0,0,0,0.4)
	width: 293px
	height: 293px
	transition: opacity 0.2s

.card-album-cover-hover:hover
	opacity: 1

.cover-credit-center
	width: 253px
	height: 253px
	margin: 20px

.no-cover
	width: 291px
	height: 291px
	background-color: white
	border: 2px solid black
	
.card-album-credits 
	background: white
	// float: left
	font-weight: 200
	width: 250px
	height: 150px
	display: inline-flex
	display: -webkit-inline-flex
	display: -ms-inline-flex
	flex-direction: column
	position: relative
	// transform: translate(-50%,-50%)
	// left: 50%
	// top: 50%

.modal
	// background: rgba(255,255,255,0.6)
	background: rgba(0,0,0,.25)
	position: fixed
	height: 100%
	width: 100%
	left: 0
	top: 0
	z-index: 150
.modal-content
	display: flex
	position: absolute
	transform: translate(-50%, -50%)
	left: 50%
	top: 50%
.album-cover-in-modal
	width: 500px
	height: 500px
	margin: 26px 13px
	position: relative
	// background-image: url(../assets/albums/m83_junk.jpg)
	background-size: contain
	background-position: center
	background-repeat: no-repeat
	z-index: 1
	transition: background-image 0.2s
.album-credit-in-modal
	padding: 0 50px
	display: flex
	flex-direction: column
	justify-content: space-around
	align-items: flex-start
	width: 300px
	height: 498px
	background: white
	border-right: 1px solid rgb(170,170,170)
	border-bottom: 1px solid rgb(170,170,170)
	border-top: 1px solid rgb(170,170,170)
	line-height: 1.4
.album-credit-in-modal-roles
	padding-top: 80px
.album-credit-in-modal-top
	text-align: left
	display: flex
	flex-direction: column
	justify-content: center
	align-items: flex-start
.modal-credit-large
	font-size: 26px
	font-weight: 400
.modal-credit-normal
	font-weight: 300
	font-size: 20px

.no-cover-in-modal
	width: 498px
	height: 498px
	background-color: white
	border: 2px solid black


.checkmark {
	position: fixed;
    right: 37px;
    top: -40px;
	width: 56px;
	height: 56px;
	border-radius: 50%;
	display: block;
	stroke-width: 2;
	stroke: white;
	stroke-miterlimit: 10;
	box-shadow: inset 0px 0px 0px #7ac142;
	animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}



.contact-container
	text-align: center
	max-height: 1000px
	height: 100%
	min-height: 500px
	position: relative
	h5
		margin: 40% auto



// flip animation on project card
.flip-container {
	perspective: 1000px;
	display: inline-block
	margin: 10px 20px
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

/* flip speed goes here */
.flipper {
	transition: 0.8s;
	transform-style: preserve-3d;
	position: relative
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	// position: absolute;
	// top: 0;
	// left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	width: 250px
	height: 250px
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotateY(180deg)
}
