.u-bold
    font-weight: 500

.u-tt5050
    transform: translate(-50%,-50%)
    left: 50%
    top: 50%
    position: absolute

.u-p
    cursor: pointer

.arrows
    cursor: pointer
    margin: auto 25px
    font-size: 50px
    font-weight: 100